<div class='container-md mt-3'>

  <div class='card mt-3'>
    <h2 class='card-header'>Login</h2>
    <form id='form' class='card-body'>
      <label for='name' class='form-label'>Nombre</label>
      <input type='text' name='name' id='name' class='form-control' />

      <input type='submit' value='Login' class='btn btn-primary mt-3' />
    </form>
  </div>
</div>
    <script src='/js/login.js'></script>