<div class='container-md mt-3'>

  <div class='card mt-3'>
    <h2 class='card-header'>Login</h2>
    <form id='form' class='card-body'>
      <label for='email' class='form-label'>Email</label>
      <input type='text' name='email' id='email' class='form-control' />

      <label for='password' class='form-label'>Contraseña</label>
      <input type='password' name='password' id='password' class='form-control' />

      <input type='submit' value='Login' class='btn btn-primary mt-3' />
    </form>
    <div class="card-body">
       <span>No tenes cuenta? 
       <a href="/register">registrate</a>
    </div>
    </span>
  </div>
</div>
<script src='/js/login.js'></script>