<div class='container-md mt-3'>

  <div class='card mt-3'>
    <h2 class='card-header'>Hasta pronto </h2>
    {{#if name}}
      <div class="card-body">
        {{name}}
      </div>
    {{/if}}
  </div>
</div>
<script src='/js/logout.js'></script>