<div class='container-md mt-3'>

  <div class='card mt-3'>
    <h2 class='card-header'>Register</h2>
    <form id='form' class='card-body'>
      <label for='email' class='form-label'>Email</label>
      <input type='text' name='email' id='email' class='form-control' />

      <label for='password' class='form-label'>Contraseña</label>
      <input type='text' name='password' id='password' class='form-control' />

      <input type='submit' value='Login' class='btn btn-primary mt-3' />
    </form>
      <div class="card-body">
      <span>Ya estas registrado? 
       <a href="/login">conectate</a>
      </span>
    </div>
  </div>
</div>
    <script src='/js/register.js'></script>